.project-card img{
    width:20em;
    height: 45em;
    border-radius:10px;
    margin-bottom: 1rem;
}
.project-card p{
    padding: 1rem;
    text-align: justify;
}

.project-cards{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "project-card project-card project-card"
    "project-card project-card project-card"
    ;
    grid-gap: 1rem;
    padding-bottom: 12rem;
}


@media screen and (max-width:928px){
    .project-cards{
        display: grid;
        grid-template-areas: 
        "project-card project-card"
        "project-card project-card"
        "project-card project-card"
        ;
        grid-gap: 1rem;
        
    }
}

@media screen and (max-width: 768px){
    .project-cards{
        display: grid;
        grid-template-areas: 
        "project-card"
        "project-card"
        "project-card"
        "project-card"
        "project-card"
        "project-card"
        ;
        grid-gap: 1rem;
        
    }
}
.project-card{
    margin: 1rem;
    height: 25em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 12px #c2c4c9;
}