/* util */
.heading {
    text-align: center;
 padding-top: 10vh;
 font-size: 2.5rem;
 font-weight: bold;
 color: #141E55;
}

.about-page{
    /* display: flex; */
    flex-direction: column;
    /* text-align: justify; */
}

.my-picture{
    height: 30%;
    border-radius: 50%;
}
.my-description{
    padding-top: 25px;
    font-size: 1.2rem;
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    text-align: justify;
}

.my-description  {
    color: #141E55;
}