.contacts{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "contact-card contact-card";
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

.contact-card{
    height: 60vh;
    width: 35vw;
    /* background-color: rgb(174, 192, 192); */
    color: #141e55;
    display: flex;
    flex-direction: column;
    line-height: 3em;
}

@media screen and (max-width:768px){
    .contacts{
        grid-template-areas: 
        "contact-card"
        "contact-card";
    }
    .contact-card{
        height: 50vh;
        width: 80vw;
        /* margin-bottom: 10rem; */
    }
    .contact-page{
        height: 150vh;
    }
}

.email-input{
    padding: 1em ;
    width: 70%;
    border-radius: 10px;
    margin: .5em auto;
    border: none;
    color: #141e55;
    background-color: #efeee5;
}

.send-email {
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #141e55;
    color: #efeee5;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
  }

  .send-email:hover {
    color: #141e55;
    background-color: #efeee5;
    border: 1px solid #141e55;
  }
  