header {
  width: 100vw;
}
.header {
  width: 80%;
  height: 10vh;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.sunjid {
  width: 3.5rem;
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

nav ul li {
  margin: 0 0.8rem;
  list-style-type: none;
  transition: all 0.25s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  color: #141e55;
  font-size: 1.3rem;
  font-weight: bolder;
}

nav ul li:hover {
  transform: scale(1.1);
  color: #141e55;
}

.resume {
  text-decoration: none;
  border: none;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: #141e55;
  color: #efeee5;
  transition: all 0.5s ease-in-out;
  font-weight: bolder;
  margin-left: 1rem;
}
.resume:hover {
  color: #141e55;
  background-color: #efeee5;
  border: 1px solid #141e55;
}
