header {
  width: 100vw;
}
.header {
  /* padding: 0.8rem; */
  padding-top: .5rem;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-link nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .header-link nav ul li {
    padding: 0.5rem 0;
    width: 100vw;
    text-align: center;

  }
  .header-link nav ul li:hover {
    padding: 0.5rem 0;
    width: 100vw;
    background-color: #141E55;
    color: #EFEEE5;
  }

  .header .sunjid {
    width: 8rem;
  }
}

/* site image */
.sunjid {
  width: 4rem;
  padding-bottom: .5rem;
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 0.7rem;
  list-style-type: none;
  transition: all 0.25s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  color: #141e55;
  font-size: 1.1rem;
  font-weight: bolder;
}

nav ul li:hover {
  transform: scale(1.1);
  color: #141e55;
}

.resume {
  text-decoration: none;
  border: none;
  font-size: 1rem;
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  background-color: #141e55;
  color: #efeee5;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  margin-left: 1rem;
}
.resume:hover {
  color: #141e55;
  background-color: #efeee5;
  border: 1px solid #141e55;
}
