
.blog-heading {
    text-align: center;
    padding-top: 10vh;
    font-size: 2.5rem;
    font-weight: bold;
    color: #141e55;
  }
  
.dev-blog{
    max-height: 16rem;
    max-width: 20rem;
    display:flex;
    flex-direction: column;  
    /* background-color: rgb(78, 35, 35); */
}
.blogs{
    /* margin: 10%; */
    display:grid;
    grid-template-areas: 
    "dev-blog dev-blog dev-blog"
    "dev-blog dev-blog dev-blog"

    ;
    justify-content:center;
    align-items:center;
    grid-gap: 3vw;
}

.blog-img{
    width: 20rem;
    height: 20vh;
    border-radius: 1rem;
}

.dev-blog p{
    width: 20rem;
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width:928px){
    .blogs{
        grid-template-areas: 
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        ;

    }
}

@media screen and (max-width:728px){
    .blogs{
        grid-template-areas: 
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        ;

    }
}

