.blog-page{
    height: 100%;

    margin-bottom: 10vh;
}
.dev-blog{
    max-height: 16rem;
    max-width: 20rem;
    display:flex;
    flex-direction: column;  
}
.blogs{
    display:grid;
    grid-template-areas: 
    "dev-blog dev-blog dev-blog"
    "dev-blog dev-blog dev-blog"

    ;
    justify-content:center;
    align-items:center;
    grid-gap: 3vw;
}

.blog-img{
    width: 20rem;
    height: 20vh;
    border-radius: 1rem;
}

.dev-blog p{
    width: 20rem;
    margin-top: 1rem;
    font-weight: bold;
    text-align: justify;
}

@media screen and (max-width:928px){
    .blogs{
        grid-template-areas: 
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        ;

    }
}

@media screen and (max-width:728px){
    .blogs{
        grid-template-areas: 
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        ;

    }
}

