
.dev-blog{
    max-height: 22rem;
    max-width: 24rem;
    display:flex;
    flex-direction: column;
    /* background-color: rgb(143, 52, 52); */
}
.blogs{
    display:grid;
    grid-template-areas: 
    "dev-blog dev-blog dev-blog"
    "dev-blog dev-blog dev-blog"

    ;
    justify-content:center;
    align-items:center;
    grid-gap: 3vw;
}


.blog-img{
    width: 25rem;
    height: 12rem;
    border-radius: 1rem;
}

.dev-blog p{
    width: 20rem;
    margin-top: 1rem;
    font-weight: bold;
    text-align: justify;
}

@media screen and (max-width:928px){
    .blogs{
        grid-template-areas: 
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        "dev-blog dev-blog"
        ;

    }

}

@media screen and (max-width:728px){
    .blogs{
        grid-template-areas: 
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        "dev-blog"
        ;

    }

}

